.container {
  background-color: brown;
}
.img {
  float: right;
  height: 100%;
  width: 100%;
}
.slider .btnShowInfoSlider {
  position: absolute;
  font-size: 16px;
  background-color: blueviolet;
  padding: 22px 24px;
  border: none;
  top: 288px;
}
.slider {
  height: 350px;
}
.containerSlider {
  background-color: cornflowerblue;
  float: right;
  width: 800px;
}
